* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: black;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 20rem;
}

input[type="text"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem;
  background: #47abd5;
  border: none;
  border-radius: 100px;
}

.btn:hover {
  opacity: 0.75;
}

.required-alert-box {
  margin: 0 auto;
  padding: 50px;

  background: rgba(56, 255, 255, 0.1);
  color: #fff;
  text-align: center;
}

.required-alert-box p {
  font-size: 2rem;
}

.required__text {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  form {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    max-width: 35rem;
  }
  input[type="text"] {
    margin-bottom: 0;
    padding: 0.7rem;
    width: 12rem;
  }

  select {
    width: 12rem;
    margin-bottom: 0;
    padding: 0.7rem;
  }

  .btn {
    padding: 0.75rem;
  }
}
